body {
    background: #F0F0F0;
}

/* Desktop page */
.container {
    max-width: 840px;
    height: 623px;
    border-radius: 24px 24px 176px 24px;
    background: #FFF;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.input-flex {
    display: flex;
    gap: 16px;
    padding: 56px 0px 0px 56px;
}

.input-container div {
    color: #716F6F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input {
    padding: 0px;
    width: 142px;
    height: 68px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    flex-shrink: 0;
    color: #716F6F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    padding: 0px 0px 0px 16px;
}

/* .input:focus {
    border: 2px solid var(--Purple);
  } */
small {
    color: red;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    margin-top: 105px;
}

hr {
    width: 632px;
    margin: 0px;
    margin-left: 56px;
    margin-top: 48px;
    border: 1x solid #DBDBDB
}

.button .line hr {
    background-color: #DBDBDB;
}

.button {
    display: flex;
    margin-bottom: -15px;
}

.submit-btn {
    border-radius: 9999px;
    background: #854DFF;
    flex-shrink: 0;
    border: none;
}

.submit-btn:hover {
    background-color: black;
}

.button img {
    padding: 23px 19px;
}

.output {
    padding: 0px 56px;
    display: flex;
}

.output .output-number div {
    color: #854DFF;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.6px;
    margin-right: 19px;
}

.output .output-text div {
    color: #141414;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.6px;
}

/* Close desktop page */

/* Mobile page */
@media (max-width: 768px) {
    .container {
        width: 368px;
        align-items: center;
        justify-content: center;
    }

    hr {
        width: 256px;
        margin: 0px 0px;
    }

    .input-flex {
        padding: 52px 0px 64px 24px;
    }

    .input-container input {
        width: 78px;
        height: 52px;
        font-size: 20px;
    }

    small {
        font-size: 9px;
        margin-top: 85px;
    }

    img {
        width: 26px;
        height: 25px;
    }

    .button img {
        padding: 17px 13px;
    }

    .line {
        margin-top: 0px;
    }

    .submit-btn {
        text-align: end;
        margin-top: -32px;
    }

    .output {
        padding: 56px 0px 0px 24px;
    }

    .output .output-text div {
        font-size: 52px;
        line-height: 57px;
    }

    .output .output-number div {
        font-size: 52px;
        line-height: 57px;
    }

    .button {
        width: 100%;
        position: absolute;
        margin-left: 24px;
    }
}